<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta
            name="description"
            content="Découvrez les projets web sur lesquels j’ai travaillé : développement front-end, intégration, CMS, e-commerce… avec des retours concrets sur mes expériences et mes réalisations."
        />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="robots" content="index, follow" />
        <link rel="icon" href="images/favicon.png" type="image/png" />
        <link rel="apple-touch-icon" href="images/favicon.png" />
        <title data-i18n="projectsTitle"> </title>
    </head>
    <body class="projects">
        <header>
            <div class="container">
                <div class="switch-lang">
                    <button
                        class="lang-switch-button"
                        data-lang="fr"
                        onclick="setLanguage('fr')"
                    >
                        FR
                    </button>
                    <button
                        class="lang-switch-button"
                        data-lang="en"
                        onclick="setLanguage('en')"
                    >
                        EN
                    </button>
                </div>

                <a
                    href="#"
                    title="Menu"
                    class="d-block d-sm-none js-open-btn"
                    aria-label="Ouvrir le menu"
                >
                    <span class="burger-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </a>

                <div class="d-flex justify-content-between">
                    <div>
                        <h1>
                            Thomas Crouvizier
                            <span data-i18n="title" class="h2"></span>
                        </h1>
                    </div>
                    <img
                        class="d-none d-sm-block rounded-circle"
                        src="images/profil.jpg"
                        data-i18n-alt="profilePict"
                        alt="Photo de Thomas Crouvizier"
                    />
                </div>

                <nav
                    role="navigation"
                    class="sidenav d-block d-sm-none js-sidenav"
                    aria-label="Menu principal"
                >
                    <a
                        href="#"
                        title="Fermer"
                        aria-label="Fermer le menu"
                        class="close js-close-btn"
                        >×</a
                    >
                    <ul>
                        <li>
                            <a
                                href="./index.html"
                                title="Présentation"
                                data-i18n="menu1"
                                data-i18n-title="menu1"
                            ></a>
                        </li>
                        <li>
                            <a
                                href="./projets.html"
                                class="disabled"
                                aria-disabled="true"
                                aria-current="page"
                                data-i18n="menu2"
                                data-i18n-title="menu2"
                                title="Projets"
                            ></a>
                        </li>
                        <li>
                            <a
                                href="./skills.html"
                                data-i18n="menu3"
                                data-i18n-title="menu3"
                                title="Compétences"
                            ></a>
                        </li>
                        <li>
                            <a
                                href="./contact.html"
                                data-i18n="menu4"
                                data-i18n-title="menu4"
                                title="Contact"
                            ></a>
                        </li>
                    </ul>
                </nav>

                <nav
                    role="navigation"
                    class="d-none d-sm-block"
                    aria-label="Menu principal"
                >
                    <ul class="d-sm-flex justify-content-between">
                        <li class="w-100 text-center">
                            <a
                                href="./index.html"
                                class="btn btn-primary"
                                title="Présentation"
                                data-i18n="menu1"
                                data-i18n-title="menu1"
                            ></a>
                        </li>
                        <li class="w-100 text-center">
                            <a
                                href="./projets.html"
                                title="Projets"
                                class="btn btn-primary disabled"
                                data-i18n="menu2"
                                aria-current="page"
                                aria-disabled="true"
                                data-i18n-title="menu2"
                            ></a>
                        </li>
                        <li class="w-100 text-center">
                            <a
                                href="./skills.html"
                                title="Compétences"
                                class="btn btn-primary"
                                data-i18n="menu3"
                                data-i18n-title="menu3"
                            ></a>
                        </li>
                        <li class="w-100 text-center">
                            <a
                                href="./contact.html"
                                title="Contact"
                                class="btn btn-primary"
                                data-i18n="menu4"
                                data-i18n-title="menu4"
                            ></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <main class="container" role="main">
            <div class="content">
                <h2 data-i18n="projectsTitleH"></h2>
                <div class="projects__list">
                    <section class="row">
                        <div class="col-lg-6 col-12">
                            <h3>Descamps</h3>
                            <p>CMS : Proximis</p>
                            <p data-i18n="projectsDescampsPeople"></p>
                            <p data-i18n="projectsDescampsTime"></p>
                            <p data-i18n="projectsDescampsActivity"></p>
                            <!--modal button-->
                            <button
                                type="button"
                                class="btn btn-secondary"
                                data-i18n="knowMore"
                                data-bs-toggle="modal"
                                data-bs-target="#projectDescamps"
                            ></button>
                            <p>
                                <a
                                    class="projects__link-description"
                                    href="https://www.descamps.com/fr/"
                                    title="Lien vers le site Descamps"
                                    target="_blank"
                                    data-i18n-title="projectsDescampsLink"
                                    data-i18n="followLink"
                                    rel="noopener noreferrer"
                                ></a>
                            </p>
                        </div>
                        <div class="col-lg-6 col-12">
                            <a
                                class="projects__link-image"
                                href="https://www.descamps.com/fr/"
                                data-i18n-title="projectsDescampsLink"
                                title="Lien vers le site Descamps"
                                target="_blank"
                                rel="noopener noreferrer"
                            >
                                <img
                                    src="images/descamps-screen.png"
                                    alt="Capture d'écran Descamps"
                                />
                                <img
                                    class="logo-site"
                                    src="images/descamps-logo.png"
                                    alt="Logo Descamps"
                                />
                            </a>
                        </div>
                    </section>
                    <section class="row fade-in">
                        <div class="col-lg-6 col-12">
                            <h3>Agnes. B</h3>
                            <p>CMS : Proximis</p>
                            <p data-i18n="projectsAgnesbPeople"></p>
                            <p data-i18n="projectsAgnesbTime"></p>
                            <p data-i18n="projectsAgnesbActivity"></p>
                            <!--modal button-->
                            <button
                                type="button"
                                class="btn btn-secondary"
                                data-i18n="knowMore"
                                data-bs-toggle="modal"
                                data-bs-target="#projectAgnesb"
                            ></button>
                            <p>
                                <a
                                    class="projects__link-description"
                                    href="https://www.agnesb.com/fr-eu"
                                    title="Lien vers le site d'Agnes.B"
                                    data-i18n-title="projectsAgnesbLink"
                                    target="_blank"
                                    data-i18n="followLink"
                                    rel="noopener noreferrer"
                                    >Voir le site</a
                                >
                            </p>
                        </div>
                        <div class="col-lg-6 col-12">
                            <a
                                class="projects__link-image"
                                href="https://www.agnesb.com/fr-eu"
                                title="Lien vers le site d'Agnes.B"
                                data-i18n-title="projectsAgnesbLink"
                                target="_blank"
                                rel="noopener noreferrer"
                            >
                                <img
                                    src="images/agnesb-screen.png"
                                    alt="Capture d'écran d'Agnes.B"
                                    loading="lazy"
                                />
                                <img
                                    class="logo-site"
                                    src="images/agnesb-logo.png"
                                    alt="Logo d'Agnes.B"
                                    loading="lazy"
                                />
                            </a>
                        </div>
                    </section>
                    <section class="row fade-in">
                        <div class="col-lg-6 col-12">
                            <h3>dugasclubexpert</h3>
                            <p>CMS : Proximis</p>
                            <p data-i18n="projectsDugasPeople"></p>
                            <p data-i18n="projectsDugasTime"></p>
                            <p data-i18n="projectsDugasActivity"></p>
                            <!--modal button-->
                            <button
                                type="button"
                                class="btn btn-secondary"
                                data-i18n="knowMore"
                                data-bs-toggle="modal"
                                data-bs-target="#projectDugas"
                            ></button>

                            <p>
                                <a
                                    class="projects__link-description"
                                    href="https://web.archive.org/web/20240215193037/https://www.dugasclubexpert.fr/"
                                    title="Lien vers le site de dugasclubexpert"
                                    data-i18n-title="projectsDugasLink"
                                    target="_blank"
                                    data-i18n="followLinkArchiv"
                                    rel="noopener noreferrer"
                                ></a>
                            </p>
                        </div>
                        <div class="col-lg-6 col-12">
                            <a
                                class="projects__link-image"
                                href="https://web.archive.org/web/20240215193037/https://www.dugasclubexpert.fr/"
                                title="Lien vers le site dugasclubexpert"
                                data-i18n-title="projectsDugasLink"
                                target="_blank"
                                rel="noopener noreferrer"
                            >
                                <img
                                    src="images/dugasclubexpert-screen.png"
                                    alt="Capture d'écran dugasclubexpert"
                                    loading="lazy"
                                />
                                <img
                                    width="80"
                                    class="logo-site"
                                    src="images/dugasclubexpert-logo.jpg"
                                    alt="Logo dugasclubexpert"
                                    loading="lazy"
                                />
                            </a>
                        </div>
                    </section>
                    <section class="row fade-in">
                        <div class="col-lg-6 col-12">
                            <h3>Aurep</h3>
                            <p>CMS : Drupal</p>
                            <p data-i18n="projectsAurepPeople"></p>
                            <p data-i18n="projectsAurepTime"></p>
                            <p data-i18n="projectsAurepActivity"></p>
                            <!--modal button-->
                            <button
                                type="button"
                                class="btn btn-secondary"
                                data-i18n="knowMore"
                                data-bs-toggle="modal"
                                data-bs-target="#projectAurep"
                            ></button>

                            <p>
                                <a
                                    class="projects__link-description"
                                    href="https://www.aurep.com/"
                                    title="Lien vers le site Aurep"
                                    data-i18n-title="projectsAurepLink"
                                    target="_blank"
                                    data-i18n="followLink"
                                    rel="noopener noreferrer"
                                ></a>
                            </p>
                        </div>
                        <div class="col-lg-6 col-12">
                            <a
                                class="projects__link-image"
                                href="https://www.aurep.com/"
                                title="Lien vers le site Aurep"
                                data-i18n-title="projectsAurepLink"
                                target="_blank"
                                rel="noopener noreferrer"
                            >
                                <img
                                    src="images/aurep-screen.png"
                                    alt="Capture d'écran Aurep"
                                    loading="lazy"
                                />
                                <img
                                    width="80"
                                    class="logo-site"
                                    src="images/aurep-logo.png"
                                    alt="Logo Aurep"
                                    loading="lazy"
                                />
                            </a>
                        </div>
                    </section>
                    <section class="row fade-in">
                        <div class="col-lg-6 col-12">
                            <h3>Guinot</h3>
                            <p>CMS : Sylius</p>
                            <p data-i18n="projectsGuinotPeople"></p>
                            <p data-i18n="projectsGuinotTime"></p>
                            <p data-i18n="projectsGuinotActivity"></p>
                            <!--modal button-->
                            <button
                                type="button"
                                class="btn btn-secondary"
                                data-i18n="knowMore"
                                data-bs-toggle="modal"
                                data-bs-target="#projectGuinot"
                            ></button>

                            <p>
                                <a
                                    class="projects__link-description"
                                    href="https://www.guinot.com/fr_FR/"
                                    title="Lien vers le site Guinot"
                                    data-i18n-title="projectsGuinotLink"
                                    target="_blank"
                                    data-i18n="followLink"
                                    rel="noopener noreferrer"
                                ></a>
                            </p>
                        </div>
                        <div class="col-lg-6 col-12">
                            <a
                                class="projects__link-image"
                                href="https://www.guinot.com/fr_FR/"
                                title="Lien vers le site Guinot"
                                data-i18n-title="projectsGuinotLink"
                                target="_blank"
                                rel="noopener noreferrer"
                            >
                                <img
                                    src="images/guinot-screen.png"
                                    alt="Capture d'écran Guinot"
                                    loading="lazy"
                                />
                                <img
                                    class="logo-site"
                                    src="images/guinot-logo.png"
                                    alt="Logo Guinot"
                                    loading="lazy"
                                />
                            </a>
                        </div>
                    </section>
                    <section class="row fade-in">
                        <div class="col-lg-6 col-12">
                            <h3>Kids Around</h3>
                            <p>CMS : Salesforce</p>
                            <p data-i18n="projectsKidsaroundPeople"></p>
                            <p data-i18n="projectsKidsaroundTime"></p>
                            <p data-i18n="projectsKidsaroundActivity"></p>
                            <!--modal button-->
                            <button
                                type="button"
                                class="btn btn-secondary"
                                data-i18n="knowMore"
                                data-bs-toggle="modal"
                                data-bs-target="#projectKidsaround"
                            ></button>

                            <p>
                                <a
                                    class="projects__link-description"
                                    href="https://www.kidsaround.com"
                                    title="Lien vers le site Kids Around"
                                    data-i18n-title="projectsKidsaroundLink"
                                    target="_blank"
                                    data-i18n="followLink"
                                    rel="noopener noreferrer"
                                ></a>
                            </p>
                        </div>
                        <div class="col-lg-6 col-12">
                            <a
                                class="projects__link-image"
                                href="https://www.kidsaround.com"
                                title="Lien vers le site Kids Around"
                                data-i18n-title="projectsKidsaroundLink"
                                target="_blank"
                                rel="noopener noreferrer"
                            >
                                <img
                                    src="images/kids-around-screen.png"
                                    alt="Capture d'écran Kids Around"
                                    loading="lazy"
                                />
                                <img
                                    class="logo-site"
                                    src="images/kids-around-logo.png"
                                    alt="Logo Kids Around"
                                    loading="lazy"
                                />
                            </a>
                        </div>
                    </section>
                    <section class="row fade-in">
                        <div class="col-lg-6 col-12">
                            <h3>Le tertre Camillac</h3>
                            <p>CMS : Wordpress</p>
                            <p data-i18n="projectsCamillacPeople"></p>
                            <p data-i18n="projectsCamillacTime"></p>
                            <p data-i18n="projectsCamillacActivity"></p>
                            <!--modal button-->
                            <button
                                type="button"
                                class="btn btn-secondary"
                                data-i18n="knowMore"
                                data-bs-toggle="modal"
                                data-bs-target="#projectCamillac"
                            ></button>

                            <p>
                                <a
                                    class="projects__link-description"
                                    href="https://letertrecamillac.fr/"
                                    title="Lien vers le site le tertre camillac"
                                    target="_blank"
                                    data-i18n-title="projectsCamillacLink"
                                    data-i18n="followLink"
                                    rel="noopener noreferrer"
                                ></a>
                            </p>
                        </div>
                        <div class="col-lg-6 col-12">
                            <a
                                class="projects__link-image"
                                href="https://letertrecamillac.fr/"
                                title="Lien vers le site le tertre camillac"
                                data-i18n-title="projectsCamillacLink"
                                target="_blank"
                                rel="noopener noreferrer"
                                ><img
                                    src="images/le-tertre-camillac-screen.png"
                                    alt="Capture d'écran du tertre camillac"
                                    loading="lazy"
                            /></a>
                        </div>
                    </section>
                </div>

                <h2 data-i18n="projectsTitleH2"></h2>
                <div class="projects__list">
                    <section class="row fade-in">
                        <div class="col-lg-6 col-12">
                            <h3>Nike PWA</h3>
                            <p>Vue.JS</p>
                            <p data-i18n="projectsNike1"></p>
                            <p data-i18n="projectsNike2"></p>
                            <p data-i18n="projectsNike3"></p>
                        </div>
                        <div class="col-lg-6 col-12">
                            <img
                                class="logo-site"
                                src="images/nike-logo.jpg"
                                alt="Logo Nike"
                                loading="lazy"
                            />
                        </div>
                    </section>
                    <section class="row fade-in">
                        <div class="col-lg-6 col-12">
                            <h3>Expanscience</h3>
                            <p>CMS : Drupal</p>
                            <p data-i18n="projectsExpanscience1"></p>
                            <p data-i18n="projectsExpanscience2"></p>
                            <p>
                                <a
                                    class="projects__link-description"
                                    href="https://www.expanscience.com/fr"
                                    title="Lien vers le site expanscience"
                                    data-i18n-title="projectsExpanscienceLink"
                                    target="_blank"
                                    data-i18n="followLink"
                                    rel="noopener noreferrer"
                                ></a>
                            </p>
                        </div>
                        <div class="col-lg-6 col-12">
                            <a
                                class="projects__link-image"
                                href="https://www.expanscience.com/fr"
                                title="Lien vers le site expanscience"
                                data-i18n-title="projectsExpanscienceLink"
                                target="_blank"
                                rel="noopener noreferrer"
                            >
                                <img
                                    src="images/expanscience-screen.png"
                                    alt="Capture d'écran expanscience"
                                    loading="lazy"
                                />
                                <img
                                    class="logo-site"
                                    src="images/expanscience-logo.png"
                                    alt="Logo expanscience"
                                    loading="lazy"
                                />
                            </a>
                        </div>
                    </section>
                    <section class="row fade-in">
                        <div class="col-lg-6 col-12">
                            <h3>ATPS</h3>
                            <p>Symphony</p>
                            <p data-i18n="projectsATPS1"></p>
                            <p data-i18n="projectsATPS2"></p>
                            <p>
                                <a
                                    class="projects__link-description"
                                    href="https://www.atps.com"
                                    title="Lien vers le site ATPS"
                                    data-i18n-title="projectsATPSLink"
                                    target="_blank"
                                    data-i18n="followLink"
                                    rel="noopener noreferrer"
                                ></a>
                            </p>
                        </div>
                        <div class="col-lg-6 col-12">
                            <a
                                class="projects__link-image"
                                href="https://www.atps.com"
                                title="Lien vers le site ATPS"
                                data-i18n-title="projectsATPSLink"
                                target="_blank"
                                rel="noopener noreferrer"
                            >
                                <img
                                    src="images/atps-screen.png"
                                    alt="Capture d'écran ATPS"
                                    loading="lazy"
                                />
                                <img
                                    class="logo-site"
                                    src="images/atps-logo.png"
                                    alt="Logo ATPS"
                                    loading="lazy"
                                />
                            </a>
                        </div>
                    </section>
                    <section class="row fade-in">
                        <div class="col-lg-6 col-12">
                            <h3>Courir</h3>
                            <p>CMS : Salesforce</p>
                            <p data-i18n="projectsCourir1"></p>
                            <p data-i18n="projectsCourir2"></p>
                            <p>
                                <a
                                    class="projects__link-description"
                                    href="https://www.courir.com"
                                    title="Lien vers le site Courir"
                                    target="_blank"
                                    data-i18n-title="projectsCourirLink"
                                    data-i18n="followLink"
                                    rel="noopener noreferrer"
                                ></a>
                            </p>
                        </div>
                        <div class="col-lg-6 col-12">
                            <a
                                class="projects__link-image"
                                href="https://www.courir.com"
                                title="Lien vers le site Courir"
                                data-i18n-title="projectsCourirLink"
                                target="_blank"
                                rel="noopener noreferrer"
                            >
                                <img
                                    src="images/courir-screen.png"
                                    alt="Capture d'écran Courir"
                                    loading="lazy"
                                />
                                <img
                                    class="logo-site"
                                    src="images/courir-logo.png"
                                    alt="Logo Courir"
                                    loading="lazy"
                                />
                            </a>
                        </div>
                    </section>
                    <section class="row fade-in">
                        <div class="col-lg-6 col-12">
                            <h3>Orange réseau</h3>
                            <p>CMS : Drupal</p>
                            <p data-i18n="projectsOrange1"></p>
                            <p data-i18n="projectsOrange2"></p>
                            <p>
                                <a
                                    class="projects__link-description"
                                    href="https://reseaux.orange.fr"
                                    title="Lien vers le site orange réseau"
                                    data-i18n-title="projectsOrangeLink"
                                    target="_blank"
                                    data-i18n="followLink"
                                    rel="noopener noreferrer"
                                ></a>
                            </p>
                        </div>
                        <div class="col-lg-6 col-12">
                            <a
                                class="projects__link-image"
                                href="https://reseaux.orange.fr"
                                title="Lien vers le site orange réseau"
                                data-i18n-title="projectsOrangeLink"
                                target="_blank"
                                rel="noopener noreferrer"
                            >
                                <img
                                    src="images/orange-reseau-screen.png"
                                    alt="Capture d'écran orange réseau"
                                    loading="lazy"
                                />
                                <img
                                    class="logo-site"
                                    src="images/orange-logo.jpg"
                                    alt="Logo orange réseau"
                                    loading="lazy"
                                />
                            </a>
                        </div>
                    </section>
                </div>
            </div>
        </main>
        <footer>
            <div class="container">
                <p data-i18n="footerCreateBy" class="text-end"></p>
            </div>
        </footer>
        <!--modal Descamps-->
        <div
            class="modal fade"
            id="projectDescamps"
            tabindex="-1"
            aria-labelledby="projectModalLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog modal-lg">
                <!-- modal-lg pour une grande modale -->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4
                            class="modal-title"
                            id="projectModalLabel"
                            data-i18n="projectsDescampsDetail"
                        ></h4>
                    </div>
                    <div class="modal-body">
                        <p data-i18n="projectsDescamps1"></p>
                        <p data-i18n="projectsDescamps2"></p>
                        <p data-i18n="projectsDescamps3"></p>
                    </div>
                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            data-i18n="close"
                            data-bs-dismiss="modal"
                        ></button>
                    </div>
                </div>
            </div>
        </div>

        <!--modal Agnesb-->
        <div
            class="modal fade"
            id="projectAgnesb"
            tabindex="-1"
            aria-labelledby="projectModalLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog modal-lg">
                <!-- modal-lg pour une grande modale -->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4
                            class="modal-title"
                            id="projectModalLabel"
                            data-i18n="projectsAgnesbDetail"
                        ></h4>
                    </div>
                    <div class="modal-body">
                        <p data-i18n="projectsAgnesb1"></p>
                        <p data-i18n="projectsAgnesb2"></p>
                    </div>
                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            data-i18n="close"
                            data-bs-dismiss="modal"
                        ></button>
                    </div>
                </div>
            </div>
        </div>
        <!--modal Dugas-->
        <div
            class="modal fade"
            id="projectDugas"
            tabindex="-1"
            aria-labelledby="projectModalLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog modal-lg">
                <!-- modal-lg pour une grande modale -->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4
                            class="modal-title"
                            id="projectModalLabel"
                            data-i18n="projectsDugasDetail"
                        ></h4>
                    </div>
                    <div class="modal-body">
                        <p data-i18n="projectsDugas1"></p>
                        <p data-i18n="projectsDugas2"></p>
                        <p data-i18n="projectsDugas3"></p>
                    </div>
                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            data-i18n="close"
                            data-bs-dismiss="modal"
                        ></button>
                    </div>
                </div>
            </div>
        </div>
        <!--modal Aurep-->
        <div
            class="modal fade"
            id="projectAurep"
            tabindex="-1"
            aria-labelledby="projectModalLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog modal-lg">
                <!-- modal-lg pour une grande modale -->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4
                            class="modal-title"
                            id="projectModalLabel"
                            data-i18n="projectsAurepDetail"
                        ></h4>
                    </div>
                    <div class="modal-body">
                        <p data-i18n="projectsAurep1"></p>
                        <p data-i18n="projectsAurep2"></p>
                    </div>
                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            data-i18n="close"
                            data-bs-dismiss="modal"
                        ></button>
                    </div>
                </div>
            </div>
        </div>
        <!--modal Guinot-->
        <div
            class="modal fade"
            id="projectGuinot"
            tabindex="-1"
            aria-labelledby="projectModalLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog modal-lg">
                <!-- modal-lg pour une grande modale -->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4
                            class="modal-title"
                            id="projectModalLabel"
                            data-i18n="projectsGuinotDetail"
                        ></h4>
                    </div>
                    <div class="modal-body">
                        <p data-i18n="projectsGuinot1"></p>
                        <p data-i18n="projectsGuinot2"></p>
                        <p data-i18n="projectsGuinot3"></p>
                        <p data-i18n="projectsGuinot4"></p>
                    </div>
                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            data-i18n="close"
                            data-bs-dismiss="modal"
                        ></button>
                    </div>
                </div>
            </div>
        </div>
        <!--modal Kidsaround-->
        <div
            class="modal fade"
            id="projectKidsaround"
            tabindex="-1"
            aria-labelledby="projectModalLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog modal-lg">
                <!-- modal-lg pour une grande modale -->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4
                            class="modal-title"
                            id="projectModalLabel"
                            data-i18n="projectsKidsaroundDetail"
                        ></h4>
                    </div>
                    <div class="modal-body">
                        <p data-i18n="projectsKidsaround1"></p>
                        <p data-i18n="projectsKidsaround2"></p>
                        <p data-i18n="projectsKidsaround3"></p>
                    </div>
                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            data-i18n="close"
                            data-bs-dismiss="modal"
                        ></button>
                    </div>
                </div>
            </div>
        </div>
        <!--modal Camillac-->
        <div
            class="modal fade"
            id="projectCamillac"
            tabindex="-1"
            aria-labelledby="projectModalLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog modal-lg">
                <!-- modal-lg pour une grande modale -->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4
                            class="modal-title"
                            id="projectModalLabel"
                            data-i18n="projectsCamillacDetail"
                        ></h4>
                    </div>
                    <div class="modal-body">
                        <p data-i18n="projectsCamillac1"></p>
                        <p data-i18n="projectsCamillac2"></p>
                    </div>
                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            data-i18n="close"
                            data-bs-dismiss="modal"
                        ></button>
                    </div>
                </div>
            </div>
        </div>
        <script src="./main.js" defer></script>
    </body>
</html>
