$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "./fonts/icomoon/fonts" !default;

$icon-stopwatch: "\e952";
$icon-display: "\e956";
$icon-users: "\e972";
$icon-arrow-right: "\ea34";
$icon-arrow-left: "\ea38";

