//----------------------------//
// VARIABLES
//----------------------------//

// COLORS
// FONTS
// MARGIN

// COLORS
//----------------------------//
$white: #ffffff;
$black: #000000;
$main-color: #03305d;
$bg-color: $white;
$bg-color-content: rgba($white, 0.9);

// FONTS
//----------------------------//
$font-h1: 6.4rem;
$font-h2: 4rem;
$font-h3: 2.4rem;
$font-h4: 2rem;
$font-h5: 1.6rem;
$font-h6: 1.4rem;

$font-h1-mobile: 4rem;
$font-h2-mobile: 3.2rem;

$font-base: 1.6rem;
$font-light: 1.4rem;
$font-extra-light: 1.2rem;

// MARGIN
//----------------------------//
$margin: 15px;
